<div class="mt-5">
<form method="POST" action="store">
  <div class="mb-3">
    <label for="nameChar" class="form-label">Name char</label>
    <input type="text" class="form-control" name="name" id="nameChar">
  </div>
  <div class="mb-3">
    <label for="desChar" class="form-label">Description</label>
    <input type="text" class="form-control" name='des' id="desChar">
  </div>
  <button type="submit" class="btn btn-primary">Create</button>
</form>
</div>