<form method="get" action="">
    <div class="mb-3 mt-5">
        <input type="text" name='searchIn' class="form-control" id="search" placeholder="Nhập tìm kiếm">
    </div>
    <div class="mb-3">
        <button class="btn btn-success">Tìm kiếm</button>
    </div>
</form>
